* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #002855;
    color: white;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.sidebar-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-logo {
    width: 100px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    height: auto;
    margin-bottom: 50px; /* Menambahkan jarak bawah antara logo dan tulisan */
    padding-top: 10%;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Menambahkan lebar penuh untuk daftar */
}

.sidebar ul {
    list-style: none;
}

.sidebar-menu li {
    width: 100%; /* Menambahkan lebar penuh untuk item daftar */
    position: relative; /* Tambahkan ini untuk mengatur submenu */
}

.sidebar ul li {
    margin-bottom: 15px;
    cursor: pointer;
}

/* Tambahkan CSS untuk submenu */
.has-submenu .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.has-submenu:hover .submenu,
.has-submenu:focus-within .submenu {
    display: block;
}

.submenu li {
    margin-bottom: 10px;
}

.submenu a {
    font-size: 14px;
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.submenu a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.sidebar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex; /* Menambahkan tampilan flex untuk link */
    align-items: center; /* Menyelaraskan ikon dan teks secara vertikal */
    padding: 10px 20px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s; /* Menambahkan transisi untuk efek hover dan aktif */
}

.sidebar-menu a i {
    margin-right: 10px; /* Menambahkan jarak antara ikon dan teks */
}

.sidebar-menu a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Warna abu-abu transparan saat dihover */
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 5px;
}

.sidebar-menu a.active,
.sidebar-menu a:active {
    background-color: #fff; /* Warna putih saat aktif */
    color: #000; /* Teks hitam saat aktif */
    border-radius: 5px;
    margin-right: 3%;
    margin-left: 3%;
}

.collapse-button {
    margin-top: auto;
    margin-bottom: 15%;
    padding: 10px;
    background-color: #001D3D;
    color: white;
    text-align: center;
    cursor: pointer;
}

.collapse-button i {
    transition: transform 0.3s ease;
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
}

.sidebar.collapsed .sidebar-logo,
.sidebar.collapsed .user-info,
.sidebar.collapsed .sidebar-menu,
.sidebar.collapsed .collapse-button {
    display: none;
}