/* Container and Form Styling */
.container {
    max-width: 100%;
    padding: 15px;
}

h3 {
    font-weight: bold;
}

.form-row {
    margin-bottom: 20px;
}

/* Table Styling */
.table {
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

.table-responsive {
    overflow-x: auto;
}

.custom-thead {
    background-color: #003566;
    color: #fff;
}

.custom-thead th {
    text-align: center;
    vertical-align: middle;
}

/* Custom Checkbox Styling */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #28a745;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Button Styling */
.btn-primary {
    background-color: #001f3f;
    border-color: #001f3f;
    margin-top: 20px;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-primary {
        width: 100%;
    }
}
