/* Style untuk Unggah Dokumen */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

.form-group label {
    font-weight: 500;
}

.form-control,
.form-control-file {
    border-radius: 5px;
  
}

.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    color: #495057;
    cursor: not-allowed;
}

textarea.form-control {
    height: 100px;
}

.btn-primary {
    background-color: #001d3d;
    border-color: #001d3d;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #003566;
    border-color: #003566;
}

/* Responsif */
@media (max-width: 100) {
    .container {
        padding: 0px;
    }
}
